<!-- footer
================================================== -->
<footer>

   <div class="row">

      <div class="twelve columns">

         <ul class="social-links">
            <li><a href="https://github.com/carrerasrodrigo"><i class="fa fa-github"></i></a></li>
            <li><a href="http://linkedin.com/in/carrerasrodrigo"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="http://www.facebook.com/carrerasrodrigo"><i class="fa fa-facebook"></i></a></li>
            <li><a href="http://twitter.com/carrerasrodrigo"><i class="fa fa-twitter"></i></a></li>
            <li><a href="http://plus.google.com/carrerasrodrigo"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="http://instagram.com/carrerasrodrigo"><i class="fa fa-instagram"></i></a></li>
            <li><a href="skype:carrerasrodrigo?call"><i class="fa fa-skype"></i></a></li>
         </ul>

         <ul class="copyright" style='float: left'>
            <li style='font-size: 8px'>&copy; Copyright 2014 CeeVee</li>
            <li style='font-size: 8px'>Design by <a title="Styleshout" rel='nofollow' target='_blank' href="http://www.styleshout.com/">Styleshout</a></li>
         </ul>

      </div>

      <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

   </div>

</footer> <!-- Footer End-->
